@import "../Base/base";
@import "../Themes/variable";
@import "./Index.scss";

.detail {
  .container {
    padding-top: 100px;
    .main {
      gap: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img {
        cursor: pointer;
        position: relative;
        text-align: center;
        flex: 0 0 30%;
        background-color: $c4-bg-c;
        width: 334px;
        height: 335px;
        display: flex; 
        justify-content: center;
        img {
          margin-left: 50px;
          display: block;
          width: 100%;
        }
      }
      .product-info {
        padding-right: 150px;
        flex: 0 0 70%;
        h3 {
          font-weight: $c1-text-w;
          font-size: c3-text-s3;
          line-height: 36.31px;
        }
        span {
          font-weight: $c2-text-w;
          font-size: $c1-text-s;
          line-height: 19.36px;
          margin-bottom: 20px;
          display: inline-block;
        }
        .size {
          h5 {
            color: $c3-text-c;
            font-size: $c4-text-s2-4;
            font-weight: $c5-text-w;
          }
          button {
            padding: 10px;
            margin-right: 15px;
            font-weight: $c4-text-w;
            font-size: $c4-text-s2-4;
            color: $c4-text-c;
          }
        }
        .price {
          color: $c5-text-c;
          font-weight: $c4-text-w;
          font-size: $c3-text-s3;
        }
        .amount {
          margin-bottom: 20px;
          display: flex;
          gap: 20px;
          align-items: center;

          .plus {
            width: 50px;
            height: 50px;
            color: $c6-text-c;
            font-size: $c2-text-s4;
            line-height: 50px;
            // background-image: linear-gradient(#6181f3 100% );
            background-color: $c3-bgbt-c;
          }
          p {
            display: inline;
            margin: 0;
            font-weight: $c2-text-w;
            font-size: $c2-text-s4;
          }
          .minus {
            width: 50px;
            height: 50px;
            color: $c6-text-c;
            font-size: $c2-text-s4;
            line-height: 50px;
            background-color: $c3-bgbt-c;
          }
        }
        .add-cart {
          display: inline-block;
          padding: 15px 35px;
          //   background-image: linear-gradient(to right, #3e20f8);
          background-image: linear-gradient(120deg, #d017ee, #3e20f8);
          a {
            color: $c1-text-c;

            &:hover {
              color: $c1-text-c;
            }
          }
        }
      }
    }
  }
 
}
 .product {
    .container {
      .product-header {
        h2 {
        }
      }
      .row {
        .col-3 {
          width: 334px;
          height: 369px;
          flex: 0 0 calc(30% - 20px);
          background-color: $c4-bg-c;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 40px;
          .col-img {
          flex: 0 0 50%;

            img {
              margin-top: 50px;
              display: block;
              width: 100%;
              height: 160px;
            }
          }
          .col-info {
            text-align: left;
            margin-right: 80px;
            h4 {
              height: 40px;
            }
            p {
              display: inline-block;
            }
          }
          .col-button {
            // display: flex;
            .btn-buy {
              // display: block;
              padding: 10px 20px;
              width: 175px;
              background-color: $c1-bgbt-c;
              font-weight: $c3-text-w;
              font-size: $c4-text-s2-4;
  
              line-height: 29.05px;
            }
            .btn-price {
              padding: 6px 20px;
              // display: block;
              background-color: $c2-bgbt-c;
              width: 160px;
              font-weight: $c4-text-w;
              font-size: $c4-text-s2-4;
              margin-left: -4px;
            }
          }
        }
      }
    }
  }
