@import "../Base/base";
@import "../Themes/variable";

header {
  background-color: $c1-bg-c;
  .container {
    color: $c1-text-c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px 10px 24px;
    .logo {
    }
    .header-right {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      align-items: center;
      .icon {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .login {
        a {
          color: $c1-text-c;

          opacity: 0.7;
          font-size: $c1-text-s;
          font-weight: $c1-text-w;
          transition: all 0.3s;
          &:hover {
            opacity: 1;
          }
        }
      }
      .register {
        a {
          color: $c1-text-c;
          opacity: 0.7;
          font-size: $c1-text-s;
          font-weight: $c1-text-w;
          transition: all 0.3s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
.menu {
  .navbar {
    padding-left: 140px;
    .navbar-nav {
      .nav-item {
        margin-right: 20px;
        display: inline-block;
        position: relative;

        .nav-link {
          opacity: 0.7;

          &:hover {
            color: $c2-text-c;
            opacity: 1;
            transition: width 0.5s;
            &::after {
              display: block;
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $c1-bg-c;
            bottom: 0;
            left: 0px;
            display: none;
            transition: width 0.5s;
          }
        }
      }
    }
  }
}

.carousel {
  background-image: url("../../img/image\ 6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 500px;
  .carousel-inner {
    position: relative;
    .carousel-item {
      position: relative;
      img {
        padding-left: 120px;
        width: 700px !important;
        height: 450px !important;
      }
      .item-info {
        width: 400px;
        height: 400px;
        position: absolute;
        right: 350px;
        top: 80px;
        

        h3 {
          font-size: $c2-text-s4;
          font-weight: $c1-text-w;
          color: $c2-text-c;
        }
        p { 
          padding: 0 30px 0 0;
          font-size: $c3-text-s2;
          font-weight: $c1-text-w;
          color: $c2-text-c;
        }
        button {
          border: none;
          padding: 10px 20px;
          background-color: $c3-bg-c;
          color: $c1-text-c;
          font-size: $c3-text-s2;
          font-weight: $c1-text-w;
        }
      }
    }
  }
}

.product {
  margin-top: 30px;
  .container {
    text-align: center;
    .product-header {
      h2 {
        font-weight: $c2-text-w;
        font-size: $c2-text-s4;
        color: $c2-text-c;
        margin-bottom: 50px;
      }
    }
    .row {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      .col {
        width: 334px;
        height: 369px;
        flex: 0 0 calc(30% - 20px);
        background-color: $c4-bg-c;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .col-img {
          flex: 0 0 50%;
          img {
            margin-top: 50px;
            display: block;
            width: 220px;
            height: 156px;
          }
        }
        .col-info {
          text-align: left;
          margin-right: 80px;
          h4 {
            height: 40px;
          }
          p {
            display: inline-block;
          }
        }
        .col-button {
          // display: flex;
          .btn-buy {
            // display: block;
            padding: 10px 20px;
            width: 175px;
            background-color: $c1-bgbt-c;
            font-weight: $c3-text-w;
            font-size: $c4-text-s2-4;

            line-height: 29.05px;
          }
          .btn-price {
            padding: 6px 20px;
            // display: block;
            background-color: $c2-bgbt-c;
            width: 160px;
            font-weight: $c4-text-w;
            font-size: $c4-text-s2-4;
            margin-left: -4px;
          }
        }
      }
    }
  }
}
footer {
  margin-top: 100px;
  img {
    width: 100%;
  }
}
